
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap

//$fa-font-path: "../webfonts";

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss';

@import        '~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss';

@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
